<div class="mx-auto md:w-2/3 w-full">
    <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
        <%= notice %>
    </p>
    <% end %>

    <% if alert.present? %>
        <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3" role="alert">
            <strong class="font-bold">Error!</strong>
            <span class="block sm:inline"><%= alert %></span>
        </div>
    <% end %>
    <br>
    <%= form_tag sessions_create_path, method: :post do %>
    <h1 class="text-center text-2xl text-white font-bold mb-4"> Log In</h1>
    <div class="my-5 text-center">
        <%= label_tag :username, 'Username:' , class: "text-white" %>
        <%= text_field_tag :username, params[:name], class: "input-field rounded-md" %>
    </div>
    <div class="my-5 text-center">
        <%= label_tag :password, 'Password:', class: "text-white" %>
        <%= password_field_tag :password, params[:password], class: "input-field rounded-md" %>
    </div>
    <div class="actions text-center">
        <%= submit_tag "Login", class: "rounded-lg py-2 px-5 text-black bg-white inline-block font-medium cursor-pointer" %>
    </div>
    <% end %>

    <div class="text-center mt-4">
        <p class="text-white" style="font-size: 0.875rem;">Don't have an account yet? <%= link_to 'Sign up', new_user_path, style: "color: #3b82f6; text-decoration: underline;" %></p>
    </div>

</div>