<div id="<%= dom_id line_item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Ticket:</strong>
    <%= line_item.ticket_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Order:</strong>
    <%= line_item.order_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= line_item.quantity %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Total price:</strong>
    <%= line_item.total_price %>
  </p>
</div>
